 <html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

 <title>Profile</title>
 </head>
 <body>
 <div class="container">
	<%- include("partials/navbar.ejs") %>
	
 <div class="jumbotron">


	<img src="/photos/<%-emp.photo %>" alt="..." class="img-thumbnail" width="200" height="200"	>

	<br>
	<h3><%-emp.name %> <%-emp.surname %></h3>
	<br>
	
 </div>

 <!-- JavaScript -->
 <%- include("partials/scripts.ejs") %>
 </body>

 </html>